* {
    padding: 0;
    margin: 0; 
}
li {
    list-style: none;
}
.box {
    width: 980px;
    height: 1386px;
    margin: auto;
    /* background-color: royalblue; */
}
.w {
    width: 894px;
    margin: auto;
    /* background-color: rosybrown; */
}
.header {
    width: 892px;
    height: 61px;
    margin: 0 auto;
    /* background-color: salmon; */
    border-bottom: 2px solid #938e8c;
}
.header .left-nav {
    float: left;
    width: 110px;
    height: 61px;
    background: url(images/左上红色块.png) no-repeat;
    padding: 46px 26px 7px 7px;
    font-size: 12px;
    font-weight: 700;
    color: #fff;
}
/* .header .left-nav p {
    display: block;
    padding: 46px 26px 7px 7px;
    font-size: 12px;
    font-weight: 700;
    color: #fff;
} */
.header .right-nav {
    float: right;
    font-size: 12px;
    font-weight: 700;
    margin: 45px 0 7px 0;
    color: #d45d5c;
}
.banner1 {
    position: relative;
    width: 894px;
    height: 305px;
    margin:37px auto;
    /* background-color: #d45d5c; */
}
.banner1-left {
    position: absolute;
    top: 0;
    left: 0;
    width: 641px;
    height: 301px;
    background: url(images/左上大图.png) no-repeat;
}
.green{
    display: block;
    float: left;
    width: 191px;
    height: 301px;
}
.red{
    display: block;
    float: right;
    width: 191px;
    height: 301px;
}
.banner1-right {
    position: absolute;
    top: 0;
    right: 0;
    width: 217px;
    height: 302px;
    /* background-color: aqua; */
    border-top: 2px solid #cc8091;
}
.banner1-right .top {
    font:700 24px 'Micronsoft yahei';
    color:#000000;
    text-decoration: underline;
}

.banner1-right .mid {
    font:italic 116px 'Micronsoft yahei';
    color:#75b86b;
}
.banner2 {
    position: relative;
    top: 0;
    left: 0;
    width: 894px;
    height: 168px;
    /* background-color: aqua; */
}
.banner2 .box1 {
    float: left;
    width: 231px;
    height: 171px;
    margin-right: 26px;
}
.banner3 {
    position: relative;
    top: 81px;
    width: 894px;
    height: 615px;
}
.banner3 .banner3-left {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    height: 610px;
    width: 414px;
}
.banner3 .banner3-left .banner3-lt  {
    width: 414px;
    height: 166px;
    margin-top: 0;
    margin-bottom: 16px;
}
.banner3 .banner3-left .banner3-lb {
    width: 414px;
    height: 427px;
    border-top: 2px solid #11456b;
}
.banner3 .banner3-left .banner3-lb p {
    text-indent: 2em;
    font: 12px '宋体';
    color: #767777;
    line-height: 16px;
}
.banner3 .banner3-left .banner3-lb:nth-last-child(1):first-letter {
    font: 70px '宋体';
    color: #f5e327;
}

.banner3 .banner3-left .banner3-lb img{
float: right;
clear: both;
padding: 25px 0 25px 25px;
/* margin-top: 77px; */
}
.banner3 .banner3-right {
    position: absolute;
    top: 0;
    right: 0;
    width: 460px;
    height: 610px;
}
.banner3 .banner3-right .banner3-rt {
    position: relative;
    top: 22px;
    width: 460px;
    height: 260px;
}
.banner3 .banner3-right .banner3-rt .bg1{
    position: absolute;
    top: 0;
    left: 0;
    width: 460px;
    height: 258px;
    background: url(images/配图二.png) no-repeat;
}
.banner3 .banner3-right .banner3-rt .bg2{
    position: absolute;
    bottom: 0;
    width: 460px;
    height: 61px;
    background: url(images/配图二灰色遮盖条.png);
}
.banner3 .banner3-right .banner3-rb {
    position: absolute;
    margin-top: 31px;
    width: 460px;
    height: 318px;
    background:url(images/右下红色块.png) no-repeat;
}
.banner3 .banner3-right .banner3-rb ul {
    margin: 25px 24px 31px 31px;
}
.banner3 .banner3-right .banner3-rb li {
    font: 16px '宋体';
    color: #5a5b5b;
    line-height: 20px;
    margin-bottom: 25px;
}

.banner3 .banner3-right .banner3-rb li span {
    font: italic 12px '宋体';
    color: #5a5b5b;
    text-align: right;
}
.banner3 .banner3-right .banner3-rb .triangle {
    display: inline-block;
    width: 0;
    height: 0;
    line-height: 0;
    font-size: 0;
    border: 6px solid transparent;
    border-bottom-color: #10446b;
}

.banner3 .banner3-right .banner3-rb .tips {
    position: absolute;
    top: 152px;
    left: 0;
    width: 261px;
    height: 160px;
}
.tips .content {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 235px;
    height: 86px;
    transform: translate(-50%,-50%);
}
.tips .content .zero {
    display: inline-block;
    position: absolute;
    top:-34px;
    left: 0;
    width: 67px;
    height: 86px;
    font: 110px 'Micronsoft yahei';
    color: #fff;
}
.tips .content .msg1 {
    display: inline-block;
    position: absolute;
    top:0;
    left: 67px;
    margin-top: 0;
    width: 160px;
    height: 41px;
    font: italic 18px 'Micronsoft yahei';
    color: #fff;
    border-left: 2px solid #fff;
}
.tips .content .msg2 {
    display: inline-block;
    position: absolute;
    top:52px;
    left: 67px;
    width: 160px;
    height: 33px;
    font: 12px 'Micronsoft yahei';
    color: #fff;
}

.banner3 .banner3-right .banner3-rb .quote {
    display: inline-block;
    position: absolute;
    top: 153px;
    left: 266px;
    width: 166px;
    height: 117px;
    font: italic 14px 'Micronsoft yahei';
    /* background-color: rosybrown; */
}



.footer {
    width: 892px;
    height: 60px;
    border-top: 1px solid #938e8c;
}
.footer p {
    float: right;
    font-size: 12px;
    color: #d45d5c;
}
